<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/css/MainMenu.css" th:href="../static/css/MainMenu.css">
</head>
    <body>
		<div id="header">
		<div id="logo"></div>
        <ul id="nav">
			<li><a class="active" href="index.html">Home</a></li>
            <li><a href="PatientRecords_Table.html">Patient Records</a></li>
			<li><a href="Employees_Table.html">Employee Records</a></li>
            <li><a href="TherapySessions_Table.html">Therapy Sessions</a></li>
            <li><a href="Reports.html">Reports</a></li>
		</ul>
		</div>
		<center>
		<img src="../static/images/PRS.png" alt="PRS" height="176" width="183"> <br></br>
		</center>
		<div class="intro">
			<p class="text-center">Patient Record System has the functionality to view, add, modify, and delete patient records, employee records, therapy sessions, therapy progress notes, and incidents. PRS is also capable of generating reports such as a therapy progress
				note, active patient personal information, therapy sessions conducted by month, and incidents by patient.</p>
		</div>
		<br></br>
		<div class="row">
			<div class="box">
					<h3>Patient Records</h3>
					<p class="description">Track all patients and their personal information as well as medication and allergies.</p><a href="PatientRecords_Table.html" class="learn-more">View »</a></div>
			<div class="box">
					<h3>Therapy Sessions</h3>
					<p class="description">Track therapy sessions and their information such as date, start time, end time, and medication.</p><a href="TherapySessions_Table.html" class="learn-more">View »</a></div>
			<div class="box">
					<h3>Employee Records</h3>
					<p class="description">Track all therapists and their personal information as well as <br /></p><a href="Employees_Table.html" class="learn-more">View »</a></div>
			<div class="box">
					<h3 class="name">Therapy Progress Notes</h3>
					<p class="description">Able to create, modify, or delete SOAP notes for a therapy session.</p><a href="TherapySessions_Table.html" class="learn-more">View »</a></div>
			<div class="box">
					<h3 class="name">Incidents</h3>
					<p class="description">Track patient and employee incidents as well as date and time of an incident.</p><a href="Incidents.html" class="learn-more">View »</a></div>
			<div class="box">
					<h3 class="name">Reports</h3>
					<p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p><a href="Reports.html" class="learn-more">View »</a></div>
		</div>
    </body>
</html>