<!DOCTYPE html><html><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Report Name</title>
    <link href="../static/css/TherapySessions_Table.css" rel="stylesheet" type="text/css" th:href="../static/css/TherapySessions_Table.css">
</head>

<body>
<div id="header">
    <div id="logo"></div>
    <ul id="nav" style="">
        <li>
            <a href="index.html">Main Menu</a>
        </li>
        <li>
            <a href="PatientRecords_Table.html">Patient Records</a>
        </li>
        <li>
            <a href="Employees_Table.html">Employee Records</a>
        </li>
        <li>
            <a href="TherapySessions_Table.html">Therapy Sessions</a>
        </li>
        <li>
            <a href="Referrals_Table.html" class="active">Reports</a>
        </li>
    </ul>
</div>
<h1 contenteditable="true">Reports</h1>
<center></center>
<center>
    <table id="myTable">
        <tbody>
        <tr class="header">
            <th>Report Name</th>
            <th style="">Report Description</th>
        </tr>
        <tr>
            <td><input name="button" type="button" id="ActivePatientButton" value="View ">              <label>Active Patient Information  </label></td>
            <td style="">&nbsp;</td>
        </tr>
        <tr>
            <td><input name="button" type="button" id="InActivePatientButton" value="View ">            <label>Inactive Patient Information </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="TherapyProgressButton" value="View ">            <label>Therapy Progress Note </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="PatientMedicationButton" value="View ">            <label>Patient Medication History  </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="TherapyMonthButton" value="View ">            <label>Therapy Sessions By Month </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="ActiveStatusDateButton" value="View ">            <label>Patients by Active Status and Date Range </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="UnarchivedButton" value="View ">            <label>Unarchived Inactive Patients </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="BlacklistedButton" value="View ">            <label>Patients with Incidents who are Archived or Blacklisted </label></td>
            <td style="">&nbsp;</td>
        </tr><tr>
            <td><input name="button" type="button" id="HourButton" value="View ">            <label>Peak Business Hours </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="TherapistIncidentButton" value="View ">            <label>Active Therapist that have Incident </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="PatientRegionButton" value="View ">            <label>Active Patient in the Region, ‘Texas.’ </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="AllergiesButton" value="View ">            <label>Patient with Allergies </label></td>
            <td style="">&nbsp;</td>
        </tr>

        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="IncidentButton" value="View ">            <label>Patient Incident Type</label></td>
            <td style="">&nbsp;</td>
        </tr>

        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="FemaleButton" value="View ">            <label>Active Female Patient </label></td>
            <td style="">&nbsp;</td>
        </tr>

        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="TherapyIncidentButton" value="View ">            <label>Type of Incidents that have occurred in a Therapy Session </label></td>
            <td style="">&nbsp;</td>
        </tr>

        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="DischargeButton" value="View ">            <label>Patients that have Discharge Type for (2 to 3 Weeks) </label></td>
            <td style="">&nbsp;</td>
        </tr>

        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="InsuranceButton" value="View ">            <label>Patients that have (BLUE CROSS BLUE SHIELD) </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="NewPatientButton" value="View ">            <label>New Patients in the State of Texas </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="ActiveEmailButton" value="View ">            <label>Active Patients that have an Email Address</label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="SpecificTherapistReportButton" value="View ">            <label>Therapy Sessions Conducted by a Specific Therapist Report </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="PlanReviewButton" value="View ">            <label>Specific Patient Plan Review Report </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="ActivityButton" value="View ">            <label>Specific Patient Activity Assessment Report </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="ObjectiveButton" value="View ">            <label>Specific Patient Therapy Objective Report </label></td>
            <td style="">&nbsp;</td>
        </tr>
        </tr><tr>
            <td><input name="button" type="button" id="SubjectiveButton" value="View ">            <label>Specific Patient Subjective Report </label></td>
            <td style="">&nbsp;</td>
        </tr>


        </tbody>
    </table>
    <div class="modal" id="myModal" style="">
        <div class="modal-content">
            <span class="close">×</span>
            <p>This is where Therapy Progress Note goes</p>
        </div>
    </div>


</center>
<script> function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
<!-- ActivePatientButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("ActivePatientButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}




<!-- InActivePatientButton -->
<script> var modal = document.getElementById('myModal1');
var btn = document.getElementById("InActivePatientButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


<!-- TherapyProgressButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("TherapyProgressButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- PatientMedicationButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("PatientMedicationButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- TherapyMonthButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("TherapyMonthButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- ActiveStatusDateButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("ActiveStatusDateButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- UnarchivedButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("UnarchivedButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- BlacklistedButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("BlacklistedButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- HourButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("HourButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- TherapistIncidentButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("TherapistIncidentButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- PatientRegionButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("PatientRegionButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- AllergiesButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("AllergiesButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- IncidentButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("IncidentButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- FemaleButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("FemaleButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- TherapyIncidentButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("TherapyIncidentButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- DischargeButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("DischargeButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- InsuranceButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("InsuranceButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- NewPatientButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("NewPatientButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- ActiveEmailButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("ActiveEmailButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- SpecificTherapistReportButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("SpecificTherapistReportButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- PlanReviewButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("PlanReviewButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- ActivityButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("ActivityButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- ObjectiveButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("ObjectiveButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>



<!-- SubjectiveButton -->
<script> var modal = document.getElementById('myModal');
var btn = document.getElementById("SubjectiveButton");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>











<style type="text/css">
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>


</body></html>